/* Custom Styles CSS
 *
 * Based on Milligram v1.3.0
 * https://milligram.github.io
 *
 */

 /* Google fonts */
 /* open-sans-300 - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   font-display: swap;
   src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../webfonts/open-sans-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/open-sans-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* open-sans-regular - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../webfonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* open-sans-600 - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../webfonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/open-sans-v17-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

/* Base Styles */
*,
*:after,
*:before {
 box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  color: #2E2E2E;
  font-weight: 500;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0;
}

h6 {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color:#1BA1F3;
  font-weight: bold;
}

a:focus, a:hover {
  color: #FF0000;
}

h6 a{
  font-weight: 300;
}

i.bookmark{
  color: #DC304C;
  padding-right: 10px;
}

i.faq{
  padding-right: 10px;
}

b,
strong {
  font-weight: bold;
}

p {
  color:#2E2E2E;
  margin: 0;
}

img {
    height: auto;
    width: 100%;
}

ul {
  list-style: none;
  padding-bottom: 5px;
}

li{
  margin:0;
  padding:0;
}

/* Grid */
.wrapper {
  margin: 0;
  background-color: #FFF;
}

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 2rem;
  position: relative;
  width: 100%;
}

/* Navigation */
.nav {
  margin: 0 auto;
  background-color: #59BEDC;
  color: #99999a;
  height: 60px;
  width: 100%;
}

.nav .geschichte{
  background-color: #64C8CD;
}

.nav .portfolio{
  background-color: #9091E1;
}

.nav .transparenz{
  background-color: #FF9096;
}

.nav a{
  padding-right: 15px;
}

.nav .speech {
float: right;
margin-right: 20px;
margin-top: 5px;
}

.speech a .fa-map-marker-alt{
color: #FFF;
margin:0;
padding-right:5px;
vertical-align:baseline;
}

.speech a {
  font-size: 1.2em;
  margin:0;
  padding:0;
  font-weight: 300;
}

.speech a:hover {
  font-size: 1.2em;
  margin:0;
  padding:0;
}

/* Header */
.header {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #59BEDC;
  color: #99999a;
  width: 100%;
}

.geschichte{
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #64C8CD;
  color: #99999a;
  width: 100%;
}

.portfolio{
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #9091E1;
  color: #99999a;
  width: 100%;
}

.transparenz{
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #FF9096;
  color: #99999a;
  width: 100%;
}

.tagline {
  color: #FFF;
  font-weight: 700;
}

.imageheader {
  color: #FFF;
  text-align: center;
}

.imageheader img{
  width:100%;
  height:100%;
}

.imageline {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.imageline img{
  width:100%;
  height:100%;
  margin-top: 20px;
}

.reduce {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.reduce img{
  width:80%;
  height:80%;
  text-align: center;
}

.tagline a{
  color:#fff;
  padding-right: 10px;
}

.tagline a:hover{
  color:#fff;
}

/* Page elements */
.landing {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  width: 100%;
}

.social {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  width: 100%;
}

.articles {
  margin-top: 60px;
  margin-bottom: 80px;
  color: #000;
  width: 100%;
}

.focus{
  color:#000;
}

.focus li{
  list-style: disc;
}

.focus span{
  color: #808080;
}

.github{
  width:100%;
  align-items: center;
  margin-top: 20px;
}

.fa-ul li{
  list-style-type: none;
  padding-bottom: 10px;
}

.faq{
  padding-top: 20px;
  padding-bottom: 0px;
}

.faq li{
  list-style-type: circle;
  padding-bottom: 5px;
  padding-left: 0px;
}

/* Footer */
.footer {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F3F3F3;
  color: #808080;
  width: 100%;
}

.footer ul{
  padding-left: 0;
}

.footlink a{
  color: #808080;
  font-size: 0.8em;
  font-weight: 300;
}

.footlink p{
  color: #808080;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.footline {
  font-size: 0.8em;
  color: #4B4B4B;
  font-weight: bold;
  padding-bottom: 13px;
}

.footsocial {
  color: #808080;
  padding-top: 15px;
}

.footsocial a{
  color: #808080;
  padding-right: 15px;
}

.socialtag li{
  list-style-type: none;
  margin:0;
  padding:0;
}

.socialtag {
  color: #D3D3D3;
  margin-top:40px;
  margin-bottom: 80px;
  padding: 0;
  text-align: center;
}

.socialtag a{
  color: #D3D3D3;
  padding-right: 20px;
}

a .fa-twitter:hover{
  color:#1BA1F3;
}

a .fa-facebook:hover{
  color:#1977F2;
}

a .fa-linkedin:hover{
  color:#006FB1;
}

a .fa-github:hover{
  color:#000000;
}

a .fa-instagram:hover{
  color:#C10088;
}

a .fa-youtube:hover{
  color: #FE0000;
}

a .fa-creative-commons-by{
  color: #000;
}

/* Grid rows*/
.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 42rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}

/* Buttons */
.button,
button {
  background-color: #063F60;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 20px 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button2 ,
button {
  background-color: #DD304C;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 20px 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button3 ,
button {
  background-color: #5F479D;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 20px 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button4 ,
button {
  background-color: #053440;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 20px 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button5 ,
button {
  background-color: #FFF;
  border-radius: .4rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 20px 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
  float:right;
}

.button:focus, .button:hover,
button:focus,
button:hover{
  background-color: #000;
  color: #fff;
  outline: 0;
}

.button2:focus, .button2:hover,
button:focus,
button:hover{
  background-color: #000;
  color: #fff;
  outline: 0;
}

.button3:focus, .button3:hover,
button:focus,
button:hover{
  background-color: #000;
  color: #fff;
  outline: 0;
}

.button4:focus, .button4:hover,
button:focus,
button:hover{
  background-color: #000;
  color: #fff;
  outline: 0;
}

.button5:focus, .button5:hover,
button:focus,
button:hover{
  background-color: #F3F3F3;
  color: #000;
  outline: 0;
}

/* Card design */
.card {
  background-color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0,0,0,.87);
  margin-bottom: 30px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
}

.card::after {
  clear: both;
}

.card::after, .card::before {
  content: "";
  display: block;
}

.optional-header {
  min-height: 55px;
  padding: 16px;
  position: relative;
  background-color: #FFF;
  color: #000;
}

.optional-header .primary-title {
    bottom: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.optional-header .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.optional-header .subhead {
  margin-top: 7px;
  font-size: 12px;
  font-weight: normal;
  color: #063F60;
}

.primary-text {
    font-size: 24px;
    font-weight: 500;
    padding-left: 15px;
}

.secondary-text {
    color: #808080;
    font-size: 14px;
    padding-left: 15px;
}

.supporting-text {
    font-size: 14px;
    line-height: 1.5;
    padding: 16px;
    font-weight: 500;
}

.actions {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 52px;
    padding: 8px;
    position: relative;
    z-index: 1;
}

.action-icons {
    float: right!important;
}

.action-icons a .fa-twitter{
    color:#1BA1F3;
    padding-right: 10px;
    padding-top: 10px;
}

.action-icons a .fa-linkedin{
    color:#006FB1;
    padding-right: 10px;
    padding-top: 10px;
}

.action-button {
    background-color: transparent;
    color:#000;
    font-weight: 400;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.75px;
    line-height: 36px;
    min-width: 64px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
}

.action-buttons {
    display: inline-block;
    vertical-align: middle;
}

.action-button:hover {
    background-color: rgba(158,158,158,0.2);
}

.action-button a{
  color:#000;
  font-weight: 400;
}

/* Card: thumbnail*/
.thumbnail {
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
float: left;
height: 35px;
position: relative;
width: 35px;
}

.thumbnail img {
background-color: #fff;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
position: absolute;
top: 50%;
-moz-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
-o-transform: translate(0, -50%);
-webkit-transform: translate(0, -50%);
transform: translate(0, -50%);
}

.thumbnail .fa-bookmark{
    color:#2285B8;
}
.thumbnail .fa-th-large{
    color:#F15F4C;
}
.thumbnail .fa-address-card{
    color:#18A59E;
}

.thumbnail .fa-graduation-cap{
    color:#0C3F4E;
}

.thumbnail .fa-camera{
    color:#15A895;
}

.thumbnail .fa-comments{
    color:#F69224;
}

.thumbnail .fa-github{
    color:#282B45;
}

.thumbnail .fa-user-shield{
    color:#FF907E;
}

.thumbnail .fa-lock{
    color:#DD2F4B;
}

.thumbnail .fa-volume-up{
    color:#FF0100;
}

.thumbnail .fa-microsoft{
    color:#7FBA02;
}

.thumbnail .fa-users{
    color:#02A4DB;
}

/* Card: media*/
.media {
  position: relative;
}

[class*='media--'] {
  height: 0;
  overflow: hidden;
}

/* Timeline */
.timeline {
  padding: 1em 0 0 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.timeline ul{
  padding:0;
  margin:0;
  list-style-type: none;
  position: relative;
}

.row .column .timeline ul::before{
    content: '';
    height: 100%;
    width: 1px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0em;
    z-index: -1;
  }

 .timeline li div {
    display: inline-block;
    margin: 1em 0 0 0;
    vertical-align: top;
    padding-left: 0;
  }

.timeline .bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: #FFF;
    z-index: 1;
    margin-right: 1em;
    margin-left: 0;
    padding: 0;
  }

.timeline .pink {
      border: 2px solid #F93B69;
    }

.timeline .green {
      border: 2px solid #B0E8E2;
    }

.timeline .orange {
      border: 2px solid #EB8B6E;
    }

.timeline .purple {
      border: 2px solid #B97CFC;
    }

.timeline .time {
    width: 20%;
    font-size: 0.75em;
    padding-top: 0.25em;
    color: #000;
  }

.timeline .desc {
    width: 50%;
  }

.timeline h3 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
    color: #000;
  }

.timeline h4 {
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
    color: #808080;
  }

.timeline .people img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding:0px;
  }

.logo-timeline img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-top: 60px;
    }

/* Hamburger Menu Styles */
label .menu {
  position: absolute;
  top: -105px;
  z-index: 100;
  width: 100px;
  height: 150px;
  border-radius: 10% 10% 10% 10%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #59BEDC, 0 0 0 0 #59BEDC;
  cursor: pointer;
}

label .geschichte{
  position: absolute;
  top: -105px;
  z-index: 100;
  width: 100px;
  height: 150px;
  border-radius: 10% 10% 10% 10%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #64C8CD, 0 0 0 0 #64C8CD;
  cursor: pointer;
}

label .portfolio{
  position: absolute;
  top: -105px;
  z-index: 100;
  width: 100px;
  height: 150px;
  border-radius: 10% 10% 10% 10%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #9091E1, 0 0 0 0 #9091E1;
  cursor: pointer;
}

label .transparenz{
  position: absolute;
  top: -105px;
  z-index: 100;
  width: 100px;
  height: 150px;
  border-radius: 10% 10% 10% 10%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FF9096, 0 0 0 0 #FF9096;
  cursor: pointer;
}

label .hamburger {
  position:absolute;
  top: 135px;
  left: 20px;
  width: 30px;
  height: 2px;
  background: #FFF;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #FFF;
}

label .hamburger:before { top: -8px; }

label .hamburger:after { bottom: -8px; }

label input { display: none; }

label input:checked + .menu {
  background: #59BEDC;
  box-shadow: 0 0 0 100vw #59BEDC, 0 0 0 100vh #59BEDC;
  border-radius: 0;
}

label input:checked + .geschichte{
  background: #64C8CD;
  box-shadow: 0 0 0 100vw #64C8CD, 0 0 0 100vh #64C8CD;
  border-radius: 0;
}

label input:checked + .portfolio{
  background: #9091E1;
  box-shadow: 0 0 0 100vw #9091E1, 0 0 0 100vh #9091E1;
  border-radius: 0;
}

label input:checked + .transparenz{
  background: #FF9096;
  box-shadow: 0 0 0 100vw #FF9096, 0 0 0 100vh #FF9096;
  border-radius: 0;
}

label input:checked + .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul { opacity: 1; }

label input:checked + .geschichte + ul { opacity: 1; }

label input:checked + .portfolio + ul { opacity: 1; }

label input:checked + .transparenz + ul { opacity: 1; }

label ul {
  list-style-type: none;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label li {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

label a {
  font-size: 2.2rem;
  color: #FFF;
}

label a:hover {
  font-size: 2.2rem;
  color: #FFF;
  text-decoration-style: dotted;
}

.menu a{
  font-weight: 300;
}

/* Clearing */

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
